<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
</head>

<body>
  <p>Welcome user!</p>
  <p>
  	Please visit this page to login: <br>
    <a href="<%= login_link %>">Login Page</a>
  </p>
</body>
</html>